

    <div class="card mb-4 p-2">

        {% with comments.count as total_comments  %}
            <h2>
            {{total_comments}} comment {{total_comments|pluralize}}
            </h2>
        {% endwith %}

        {% for comments in comments %}

            <div class = "comment">
                <p class = "info">
                    Comment {{forloop.counter}} by {{comments.name}}
                    {{comments.created}}
                </p>
                {{comments.body|linebreaks}}
            </div>
            {% empty %}
            <p> There are no comments yet. </p>

        {% endfor %}

        {% if new_comment %}

            <h2> Your comment is added successfully </h2>

        {% else %}
            <h2> Add a new comment <h2> <br>
            <form method = "post">
                {% csrf_token %}
                {{comment_form}}
                <br><button type = "submit" class = "btn btn-primary"> Add comment </button>
            </form>


        {% endif %}   
          
    </div>

</div>
